apiVersion: v1
kind: Service
metadata: 
  name: backend-service
  namespace: default
spec:
  type: LoadBalancer
  selector:
    app: backend
  ports: 
    - name: http
      port: 80
      targetPort: 5001
    - name: api
      port: 5001
      targetPort: 5001