apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-app 
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-app 
  template:
    metadata:
      labels:
        app: auth-app 
    spec:
      containers:
      - name: auth-app
       
        image: 891377262030.dkr.ecr.us-east-1.amazonaws.com/agent_repo:authApp
        ports:
        - containerPort: 5001
        env:
        - name: ENV
          value: "aws"
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: database-url
