apiVersion: v1
kind: Service
metadata:  
  name:  frontend-service
  labels: 
    app: frontend
  annotations: 
    service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"
spec: 
  type: LoadBalancer
  selector:
    app:  frontend
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80