apiVersion: v1
kind: Service
metadata:
  name: n8n-service
  namespace:  default
spec:
  type:  LoadBalancer
  selector: 
    app: n8n
  ports:
    - name: http
      port: 80
      targetPort: 5678
    - name: webhook
      port:  5678      
      targetPort: 5678